@mixin background($propSize) {
  background-position: center;
  background-size: $propSize;
  background-repeat: no-repeat;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playball&display=swap');

$base_Orange: #ffa500;
$trans_Black: hsla(0, 0%, 0%, 0.48);
$trans_Orange: rgba(255, 166, 0, 0.5);
$light_Orange: #ffe4b2;
$warning_red: #f1adad;
$red: #eb4335;
$done_green: #ccfbbc;
$complete_green: #34a853;
$lato: 'Lato', sans-serif;

.entryContent {
  height: 85vh;
  width: 90vw;
  margin: 6.5vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
