// @use 'base';
$base_Orange: #ffa500;
$trans_Black: hsla(0, 0%, 0%, 0.48);
$trans_Orange: rgba(255, 166, 0, 0.5);
$light_Orange: #ffe4b2;
$warning_red: #f1adad;
$red: #eb4335;
$done_green: #ccfbbc;
$complete_green: #34a853;
$lato: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playball&display=swap');

@mixin background($propSize) {
  background-position: center;
  background-size: $propSize;
  background-repeat: no-repeat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $lato;
}

.entryContent {
  .rightDiv {
    #welcome {
      margin-top: 3rem;
      font-size: 36px;
    }
    #signinInstruction {
      margin-bottom: 2rem;
      font-size: 18px;
    }
    #welcome,
    #signinInstruction {
      margin-left: 2rem;
      font-family: $lato;
    }
    #signinForm {
      // transform: scale(1.25);
      .emailSection,
      .passwordSection {
        height: max-content;
        width: 430px;
        margin: 0 auto;
        font-size: 24px;
        padding: 0.5rem;
      }
      .emailSection {
        background: #e5e5e5;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: grid;
        grid-template-columns: 10% 90%;
        .emailIcon {
          margin: auto;
          height: 25px * 1.5;
          width: 21.43px * 1.5;
          background: url(../asset/email.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
        }
        .inputsection {
          display: inline-block;
          height: max-content;
          width: 100%;
          margin-left: 0.5rem;
          // background: green;
          label {
            display: block;
            color: hsla(0, 0%, 0%, 0.48);
          }
          input {
            width: 100%;
            border: none;
            outline: none;
            background: none;
            color: black;
            font-size: 18px;
            &::placeholder {
              color: black;
            }
          }
        }
      }
      .passwordSection {
        background: #ffffff;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: grid;
        grid-template-columns: 10% 90%;
        .passwordIcon {
          margin: auto;
          height: 25px * 1.5;
          width: 21.43px * 1.5;
          background: url(../asset/lock.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
        }
        .inputsection {
          display: inline-block;
          height: max-content;
          width: 100%;
          margin-left: 0.5rem;
          // background: green;
          label {
            display: block;
            color: hsla(0, 0%, 0%, 0.48);
          }
          input {
            width: 100%;
            border: none;
            outline: none;
            background: none;
            color: black;
            font-size: 24px;
            &::placeholder {
              color: black;
            }
          }
        }
      }
      .submitWrapper {
        // background: rgba(112, 89, 89, 0.452);
        width: 430px;
        margin: 0 auto;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        #login {
          background: $base_Orange;
          border: none;
          color: white;
          text-transform: uppercase;
          min-height: 54px;
          min-width: 50px;
          width: 30%;
          padding: 1rem 2rem;
          border-radius: 10px;
          font-weight: 900;
          font-size: 18px;
          position: relative;
          outline: none;
          margin-top: 1rem;
          // left: 17rem;
          letter-spacing: 0.06em;
          cursor: pointer;
          transition: all 0.2s;
          // &:active {

          // }

          &::after {
            content: '';
            height: 54px;
            width: 54px;
            background: $base_Orange;
            position: absolute;
            right: -60%;
            top: 0;
            background: url(../asset/next.svg), $base_Orange;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
            border-radius: 10px;
            cursor: pointer;
          }
        }
        .forgotPassword {
          background: $light_Orange;
          color: $base_Orange;
          font-weight: 900;
          text-align: center;
          display: block;
          width: fit-content;
          margin-top: 2rem;
          padding: 1rem;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            transform: scale(1.025);
          }
        }
      }
    }
    .continueWith {
      // background: $warning_red;
      // padding-left: 4rem;
      margin: 2rem 0 0 7rem;
      width: max-content;
      p {
        margin-left: 0;
        margin-bottom: 0;
        text-transform: capitalize;
      }
      .options {
        // background: rgb(107, 93, 93);
        div {
          height: 53px;
          width: 53px;
          border-radius: 10px;
          display: inline-block;
          margin: 1rem 1rem 0 0;
          cursor: pointer;
          transition: 0.5;
          &:hover {
            transform: scale(1.075);
          }
        }
        #apple {
          background: url(../asset/apple.svg), $light_Orange;
          @include background(50%);
        }
        #github {
          background: url(../asset/github.svg), $light_Orange;
          @include background(50%);
        }
        #google {
          background: url(../asset/google.svg), $light_Orange;
          @include background(50%);
        }
      }
    }
  }
}
